@media screen and (max-width:600px) {
    header {
        margin: 20px;
    }

    /* header section style  */

    .eco-travel h2 {
        font-size: 21.543px;

    }

    .eco-travel {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .nav-menu li:nth-child(1) {
        display: inline;
        padding-left: 90px;
    }

    .nav-menu {
        width: 200px;
    }

    .nav-section {
        margin: 0;
    }

    /* header-title section style  */

    .header-title {
        margin: 0 auto;
        width: 335px;
        text-align: center;
        background-position: center;
    }

    .explore-your-travel {
        font-size: 22px;
        /* width: fit-content; */
        padding: 30px 60px 8px;
        margin: 0;
    }

    .are-you-looking-for {
        margin: 0;
        width: 300px;
        padding-left: 20px;
    }

    .choice-option {
        display: flex;
        width: 255px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        margin: 0 auto;
    }

    .common-c-option {
        width: 255px;
    }

    /* OUR POPULAR SECTION STYLE  */


    .our-popular-tours {
        flex-direction: column;
        margin: 20px;
    }

    .opt-content h2 {
        font-size: 20px;

    }

    .opt-text {
        font-size: 14px;
        line-height: 24px;
        width: 335px;
    }

    .opt-content .p1 {
        width: 335px;
        margin-top: 16px;
        margin-bottom: 4px;
    }

    .opt-content .p2 {
        width: 335px;
        margin-bottom: 24px;
        margin-top: 4px;
    }

    .opt-content li {
        width: 335px;
        margin: 12px 0;
    }

    .opt-img img {
        width: 335px;
        height: 342px;
        flex-shrink: 0;
    }

    /* CHOOSE YOUR DESTINATION SECTION STYLE  */

.choose-your-destination{
    
}

.cyd-content{}




}