@media screen and (max-width:600px) {
    header {
        margin: 20px;
    }

    /* header section style  */

    .eco-travel h2 {
        font-size: 21.543px;

    }

    .eco-travel {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .nav-menu li:nth-child(1) {
        display: inline;
        padding-left: 90px;
    }

    .nav-menu {
        width: 200px;
    }

    .nav-section {
        margin: 0;
    }

    /* header-title section style  */

    .header-title {
        margin: 0 auto;
        width: 335px;
        text-align: center;
        background-position: center;
    }

    .explore-your-travel {
        font-size: 22px;
        /* width: fit-content; */
        padding: 30px 60px 8px;
        margin: 0;
    }

    .are-you-looking-for {
        margin: 0;
        width: 300px;
        padding-left: 20px;
    }

    .choice-option {
        display: flex;
        width: 255px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        margin: 0 auto;
    }

    .common-c-option {
        width: 255px;
    }

    /* OUR POPULAR SECTION STYLE  */


    .our-popular-tours {
        flex-direction: column;
        margin: 20px;
    }

    .opt-content h2 {
        font-size: 20px;

    }

    .opt-text {
        font-size: 14px;
        line-height: 24px;
        width: 335px;
    }

    .opt-content .p1 {
        width: 335px;
        margin-top: 16px;
        margin-bottom: 4px;
    }

    .opt-content .p2 {
        width: 335px;
        margin-bottom: 24px;
        margin-top: 4px;
    }

    .opt-content li {
        width: 335px;
        margin: 12px 0;
    }

    .opt-img img {
        width: 100%;
        height: 342px;
        flex-shrink: 0;
    }

    /* CHOOSE YOUR DESTINATION SECTION STYLE  */

    /* .section-container{
        margin: ;
    } */

    .common-title {
        font-size: 20px;

    }

    .common-description {
        width: 309px;
        font-size: 14px;
        line-height: 24px;

    }

    .cyd-gallery img {
        padding-top: 12px;
        padding-bottom: 12px;
        /* width: 335px; */
        height: 176px;
        flex-shrink: 0;
        border-radius: 16px;

    }

    .cyd-gallery {
        display: inline-block;
        margin: 0 24px;
    }

    /* WHY CHOOSE US SECTION STYLE  */

    .wcu-2reason {
        flex-direction: column;
    }

    .c-reason h2 {
        font-size: 20px;

    }

    .c-reason p {
        width: 271px;
        font-size: 14px;
        line-height: 24px;
    }

    .c-reason img {
        width: 48px;
    }





    /* FOOTER SECTION STYLE  */

    footer {
        width: 375px;
        height: 309px;
        flex-shrink: 0;
    }

    .f-title h2 {
        font-size: 21.543px;
    }

    .f-content p {
        font-size: 14px;
        line-height: 24px;
        width: 287px;
        margin: 16px auto;
    }

    .f-title {
        gap: 9px;
    }

    .f-title img {
        width: 28.724px;
        height: 33.516px;
        flex-shrink: 0;
    }


    .main-footer {
        margin: 0 20px;
        padding-top: 33px;
        padding-bottom: 24px;
    }

    footer p {
        margin-top: 24px;
        margin-bottom: 31px;
    }


}