@media screen and (max-width:600px) {
    header {
        margin: 20px;
    }

    /* nav section style  */

    .eco-travel h2 {
        font-size: 21.543px;

    }

    .eco-travel {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .nav-menu li:nth-child(1) {
        display: inline;
        padding-left: 90px;
    }

    .nav-section {
        margin: 0;
    }

    /* header-title section style  */

    .header-title {
        margin: 0 auto;
        width: 300px;
        text-align: left;
    }

    .explore-your-travel {
        font-size: 22px;
        width: 300px;
        padding: 30px 50px;
        margin: 0;
    }

    .are-you-looking-for {
        margin: 0;
        width: 300px;
    }

    .choice-option {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        margin: 0 auto;
    }
}