* {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}

header {
    margin: 25px 135px;
    /* border: 1px solid; */
}


/* header section style  */

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.nav-menu li {
    list-style: none;
}

.eco-travel {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 506px;
    gap: 44px;

}

.nav-menu li:nth-child(1) {
    display: none;
}

.eco-travel h2 {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel-orange,
.nav-menu .home-orange {
    color: #FF5400;
}



/* header title section style  */

.header-title {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group 13 (1) (1).png');
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    margin: 50px auto;
    border-radius: 16px;
    text-align: center;

}

.explore-your-travel {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 106px 287px 0px;
}

.are-you-looking-for {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    margin: 0 287px;
    padding: 0;
}

.choice-option {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 38px;
}

.common-c-option {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.choice-option input::placeholder,
#when,
#type {
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    padding: 16px;
}

.find-now {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #FF5400;
}


/* main section style  */

/* OUR POPULAR TOURS  */

.our-popular-tours {
    display: flex;
    width: fit-content;
    margin: 100px auto;
    align-items: center;
    gap: 53px;
}

.opt-content h2 {
    color: #131318;
    text-align: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.opt-text {
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.opt-content .p1 {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    margin-top: 24px;
    margin-bottom: 8px;

}

.opt-content li {
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    margin: 16px 0;
}

.opt-content .p2 {
    color: #5A5A5D;
    width: 530px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.opt-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
}

.opt-img img {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
}


/* CHOOSE YOUR DESTINATION SECTION STYLE  */



/* .cyd-content {} */


/* COMMON SECTON STYLE  */
/* COMMON SECTON STYLE  */

.section-container {
    margin: 100px auto;
    text-align: center;

}

.common-title {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.common-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    display: inline-flex;
    margin: 24px 0;
}

/* COMMON SECTON STYLE  */
/* COMMON SECTON STYLE  */



.maldives {
    grid-area: maldives;
}

.indonesia {
    grid-area: indonesia;
}

.srilanka {
    grid-area: srilanka;
}

.north-a {
    grid-area: north-a;
}

.kashmir {
    grid-area: kashmir;
}

.bangladesh {
    grid-area: bangladesh;
}

.bandarban {
    grid-area: bandarban;
}

.cyd-gallery img {
    width: 100%;
    height: 100%;
}

.cyd-gallery {
    margin: 24px auto;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    gap: 24px;
    grid-template-areas:
        "maldives maldives maldives maldives maldives maldives indonesia indonesia indonesia  indonesia indonesia indonesia"
        "srilanka srilanka srilanka srilanka north-a north-a north-a north-a kashmir kashmir kashmir kashmir"
        "bangladesh bangladesh bangladesh bangladesh bangladesh bandarban bandarban bandarban bandarban bandarban bandarban bandarban"
    ;
}


/* WHY CHOOSE US SECTION STYLE  */



/* .wcu-title {} */

.c-reason {
    padding: 32px;
    width: fit-content;
}

.c-reason img {
    display: block;
}

.c-reason h2 {
    color: #131318;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.c-reason p {
    color: #5A5A5D;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}

.wcu-3reason {
    margin-top: 24px;
    display: inline-block;
    justify-content: center;
}

.wcu-2reason {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.price {
    margin: 0 auto;
    margin-top: 24px;

}

.map {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.hotel,
.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}


/* FOOTER SECTION STYLE  */

footer {
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
    margin: 0 auto;
    /* padding-top: 110px; */
}

.main-footer {
    padding-top: 110px;
    padding-bottom: 50px;
    margin: 0 248px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.05);
    /* border: 1px solid;   */


}

footer p {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 110px;
}

footer h2 {
    font-size: 32px;
    margin: 0;
}


.f-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
}

.f-content p {
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 15px auto;
    margin-bottom: 33px;

}

.f-si {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}